# Create Heatmaps for Weather Parameters

In [39]:
import ipywidgets as widgets
#widgets.IntSlider()

In [40]:
# Import the API key.  make sure the name written in config file and here is same 
from config import g_key
import gmaps
import gmaps.datasets

gmaps.configure(api_key=g_key) # I used my API here

fig = gmaps.figure()
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.  make sure the name written in config file and here is same 
from config import g_key

In [42]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Faanui,PF,2021-07-20 22:14:23,-16.4833,-151.7500,78.80,76,16,21.21
1,1,Punta Arenas,CL,2021-07-20 22:11:40,-53.1500,-70.9167,35.71,87,0,4.61
2,2,Vaini,TO,2021-07-20 22:14:23,-21.2000,-175.2000,78.96,89,40,9.22
3,3,Ipixuna,BR,2021-07-20 22:14:24,-1.7625,-48.8043,75.15,93,74,5.03
4,4,Opunake,NZ,2021-07-20 22:14:24,-39.4556,173.8583,51.33,83,88,15.99

In [43]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [44]:
# Create a Maximum Temperature Heatmap

In [45]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [46]:
#1. locations = [latitude,longitude]
# weights variable to some value 
# 2. temperature  = array of lenghth equal to location arrary length
# 3. assign fig var to gmaps 
# fig = gmaps.figure()
#4. assign heatmap layer 
#5. add heatmap Layer 
#6. call the figure to plot data

In [47]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [48]:
# using List comprehesion we can solve the same as this =   [max(temp, 0) for temp in max_temp]

In [49]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])  # this another way using list comprehension methos 

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
# Create a Wind Speed Heatmap
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
# Lets create app we need to get inputs from user whant is minimum and maximum temp user with for his vacation place

In [54]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 55
What is the maximum temperature you would like for your trip? 75

In [55]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Marica,BR,2021-07-20 22:14:24,-22.9194,-42.8186,64.35,64,66,4.59
8,8,Caravelas,BR,2021-07-20 22:14:25,-17.7125,-39.2481,71.01,68,100,11.70
10,10,Parabel,RU,2021-07-20 22:14:26,58.6978,81.4825,57.81,91,69,5.53
11,11,Thunder Bay,CA,2021-07-20 22:11:08,48.4001,-89.3168,74.98,40,29,7.29
12,12,Rikitea,PF,2021-07-20 22:14:26,-23.1203,-134.9692,71.33,65,100,25.43
19,19,Grand Gaube,MU,2021-07-20 22:14:29,-20.0064,57.6608,71.38,63,76,7.00
27,27,Cherskiy,RU,2021-07-20 22:14:32,68.7500,161.3000,62.56,41,100,5.55
29,29,Puerto Ayora,EC,2021-07-20 22:14:33,-0.7393,-90.3518,73.54,92,90,7.00
30,30,Gamba,GA,2021-07-20 22:14:33,-2.6500,10.0000,71.89,86,18,6.58
33,33,Montbrison,FR,2021-07-20 22:14:34,45.6667,4.0833,71.46,87,0,4.21

In [56]:
preferred_cities_df.count()

City_ID       213
City          213
Country       211
Date          213
Lat           213
Lng           213
Max Temp      213
Humidity      213
Cloudiness    213
Wind Speed    213
dtype: int64

In [57]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       2
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [58]:
preferred_cities_df.notnull().sum()

City_ID       213
City          213
Country       211
Date          213
Lat           213
Lng           213
Max Temp      213
Humidity      213
Cloudiness    213
Wind Speed    213
dtype: int64

Guidelines :

Depending on the time of year and the seasons, you might have to adjust the minimum and maximum temperature to get enough cities.
It is a good idea to keep the number of cities to fewer than 200 to make it easier to plot the markers on the heatmap.
If you have some rows with null values, you'll need to drop them using the dropna() method at the end of your filtering statement when you are creating the new DataFrame.

In [70]:
# make a copy preferred city df  and name as hotel_df  keep only lat, long, and max temp asd city columns 
# add new colun to hold hotel name 
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
5         Marica      BR     64.35 -22.9194  -42.8186
8      Caravelas      BR     71.01 -17.7125  -39.2481
10       Parabel      RU     57.81  58.6978   81.4825
11   Thunder Bay      CA     74.98  48.4001  -89.3168
12       Rikitea      PF     71.33 -23.1203 -134.9692
19   Grand Gaube      MU     71.38 -20.0064   57.6608
27      Cherskiy      RU     62.56  68.7500  161.3000
29  Puerto Ayora      EC     73.54  -0.7393  -90.3518
30         Gamba      GA     71.89  -2.6500   10.0000
33    Montbrison      FR     71.46  45.6667    4.0833

In [71]:
# Using the latitude and longitude and specific parameters, use the Google Places Nearby Search request to retrieve a hotel and add it to the Hotel Name column
#  Nearby Search requests page.
# For our hotel search, we'll use these parameters:
#   API key
#   Latitude and longitude
#   5,000-meter radius
#   Type of place
#  URL is provided to retrieve the JSON format of the data:

#    https://maps.googleapis.com/maps/api/place/nearbysearch/json

In [74]:
# Set parameters to search for a hotel. as dictionary will hold key value pairs 
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
         hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
         print("Hotel not found... skipping.")
print ("done ")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [75]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Marica,BR,64.35,-22.9194,-42.8186,Marica Hills
8,Caravelas,BR,71.01,-17.7125,-39.2481,Pousada dos Navegantes
10,Parabel,RU,57.81,58.6978,81.4825,Housing Complex Gazprom Transgaz Tomsk
11,Thunder Bay,CA,74.98,48.4001,-89.3168,Victoria Inn Hotel and Convention Centre
12,Rikitea,PF,71.33,-23.1203,-134.9692,People ThankYou
19,Grand Gaube,MU,71.38,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
27,Cherskiy,RU,62.56,68.7500,161.3000,Gostinitsa
29,Puerto Ayora,EC,73.54,-0.7393,-90.3518,Finch Bay Galapagos Hotel
30,Gamba,GA,71.89,-2.6500,10.0000,
33,Montbrison,FR,71.46,45.6667,4.0833,Hostellerie Del Matin Calme Hôtel à Montbrison

In [76]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [77]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [79]:
# add info box template to the map   this is a multiline string using three quotes 
# define a variable name info_box_template  in the specific way using correct column names 

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [80]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [64]:
print (6324-3489)

2835

In [69]:
print (7223-1759)

5464