## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
import ipywidgets as widgets

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../WeatherPy_database.csv") # ("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Weather Description
0,Jamestown,42.0970,-79.2353,78.12,81,90,5.99,US,light rain
1,Rikitea,-23.1203,-134.9692,69.21,54,0,0.89,PF,clear sky
2,Narsaq,60.9167,-46.0500,50.22,84,89,4.76,GL,overcast clouds
3,Bengkulu,-3.8004,102.2655,75.06,88,9,4.21,ID,clear sky
4,Santa Cruz,-17.8000,-63.1667,89.65,35,20,26.46,BO,few clouds

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
temp_within_min = int(input("Enter the minimum temprature you would prefer "))
temp_within_max = int(input("Enter the maximum temprature you would prefer "))

Enter the minimum temprature you would prefer 60
Enter the maximum temprature you would prefer 70

In [9]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# select all rows where max temo 
clean_df = city_data_df.loc[(temp_within_min<(city_data_df['Max Temp']))&((city_data_df['Max Temp'])<temp_within_max)]
clean_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Weather Description
1,Rikitea,-23.1203,-134.9692,69.21,54,0,0.89,PF,clear sky
9,Tuktoyaktuk,69.4541,-133.0374,60.80,51,40,16.11,CA,scattered clouds
31,Luderitz,-26.6481,15.1594,64.58,30,15,6.49,NaN,few clouds
36,Saint-Philippe,-21.3585,55.7679,67.59,76,65,5.28,RE,broken clouds
40,Mahanoro,-19.9000,48.8000,67.06,92,100,11.63,MG,moderate rain
...,...,...,...,...,...,...,...,...,...
696,Ayr,55.4627,-4.6339,67.98,77,0,2.30,GB,clear sky
699,Lulea,65.5842,22.1547,62.67,67,0,5.75,SE,clear sky
700,Kinsale,51.7075,-8.5306,63.77,82,75,4.61,IE,broken clouds
701,Roald,62.5833,6.1333,62.91,94,90,2.30,NO,mist
704,Fort Nelson,58.8053,-122.7002,69.39,43,75,11.50,CA,broken clouds

In [10]:
# 4a. Determine if there are any empty rows.
total_rows = len(clean_df["City"].unique())
total_rows

130

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
#Drop the rows where at least one element is missing
clean_df =clean_df.dropna()
clean_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Weather Description
1,Rikitea,-23.1203,-134.9692,69.21,54,0,0.89,PF,clear sky
9,Tuktoyaktuk,69.4541,-133.0374,60.80,51,40,16.11,CA,scattered clouds
36,Saint-Philippe,-21.3585,55.7679,67.59,76,65,5.28,RE,broken clouds
40,Mahanoro,-19.9000,48.8000,67.06,92,100,11.63,MG,moderate rain
53,Cap-Aux-Meules,47.3821,-61.8597,62.65,67,20,10.36,CA,few clouds
...,...,...,...,...,...,...,...,...,...
696,Ayr,55.4627,-4.6339,67.98,77,0,2.30,GB,clear sky
699,Lulea,65.5842,22.1547,62.67,67,0,5.75,SE,clear sky
700,Kinsale,51.7075,-8.5306,63.77,82,75,4.61,IE,broken clouds
701,Roald,62.5833,6.1333,62.91,94,90,2.30,NO,mist
704,Fort Nelson,58.8053,-122.7002,69.39,43,75,11.50,CA,broken clouds

In [16]:
# new_column_order
new_collumn_order = ["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]    # Current Description 
clean_df =clean_df[new_collumn_order]
clean_df

               City Country  Max Temp Weather Description      Lat       Lng
1           Rikitea      PF     69.21           clear sky -23.1203 -134.9692
9       Tuktoyaktuk      CA     60.80    scattered clouds  69.4541 -133.0374
36   Saint-Philippe      RE     67.59       broken clouds -21.3585   55.7679
40         Mahanoro      MG     67.06       moderate rain -19.9000   48.8000
53   Cap-Aux-Meules      CA     62.65          few clouds  47.3821  -61.8597
..              ...     ...       ...                 ...      ...       ...
696             Ayr      GB     67.98           clear sky  55.4627   -4.6339
699           Lulea      SE     62.67           clear sky  65.5842   22.1547
700         Kinsale      IE     63.77       broken clouds  51.7075   -8.5306
701           Roald      NO     62.91                mist  62.5833    6.1333
704     Fort Nelson      CA     69.39       broken clouds  58.8053 -122.7002

[127 rows x 6 columns]

In [17]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()     #  Current Description

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Rikitea,PF,69.21,clear sky,-23.1203,-134.9692,
9,Tuktoyaktuk,CA,60.80,scattered clouds,69.4541,-133.0374,
36,Saint-Philippe,RE,67.59,broken clouds,-21.3585,55.7679,
40,Mahanoro,MG,67.06,moderate rain,-19.9000,48.8000,
53,Cap-Aux-Meules,CA,62.65,few clouds,47.3821,-61.8597,
59,Bozoum,CF,68.31,overcast clouds,6.3193,16.3799,
70,Vulcana Bai,RO,63.55,scattered clouds,45.0833,25.3833,
74,Namibe,AO,65.75,clear sky,-15.1961,12.1522,
83,Roros,NO,61.18,scattered clouds,62.5747,11.3842,
90,Togur,RU,61.99,clear sky,58.3631,82.8265,

In [18]:
#---------------------------------------------------------------
import json
import numpy as np
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():         # outer main loop
    # 6c. Get latitude and longitude from DataFrame
    get_lat = row['Lat']
    get_lng = row['Lng']
    params["location"] = f"{get_lat},{get_lng}"   # added locations to params dictionary
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    response = requests.get(base_url, params=params).json()
    results =response['results']
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        #v_hotel_name = results[0]['name']
        #if ((v_hotel_name != '') & (v_hotel_name ==' ')): 
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']

    except (KeyError, IndexError):        
        print(" Hotel not found ")

 Hotel not found
 Hotel not found
 Hotel not found
 Hotel not found
 Hotel not found
 Hotel not found
 Hotel not found
 Hotel not found
 Hotel not found
 Hotel not found
 Hotel not found
 Hotel not found

In [21]:
import numpy as np
# to get clean data need to replace blanks with nan
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Rikitea,PF,69.21,clear sky,-23.1203,-134.9692,People ThankYou
9,Tuktoyaktuk,CA,60.80,scattered clouds,69.4541,-133.0374,End of The Road Ltd.
36,Saint-Philippe,RE,67.59,broken clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
40,Mahanoro,MG,67.06,moderate rain,-19.9000,48.8000,BUNGALOW MAHAMANINA
53,Cap-Aux-Meules,CA,62.65,few clouds,47.3821,-61.8597,Auberge Madeli
...,...,...,...,...,...,...,...
696,Ayr,GB,67.98,clear sky,55.4627,-4.6339,Mercure Ayr Hotel
699,Lulea,SE,62.67,clear sky,65.5842,22.1547,Comfort Hotel Arctic
700,Kinsale,IE,63.77,broken clouds,51.7075,-8.5306,Actons Hotel Kinsale
701,Roald,NO,62.91,mist,62.5833,6.1333,Flem Cabins
704,Fort Nelson,CA,69.39,broken clouds,58.8053,-122.7002,The Fort Nelson Hotel

In [22]:
tmp3_df =hotel_df.loc[(hotel_df['Country']=='US')]  ## added this to get 4 cities in same country for the itenary deliverable  we have cities 
tmp3_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
128,Fortuna,US,65.32,clear sky,40.5982,-124.1573,Super 8 by Wyndham Fortuna
367,Fairbanks,US,61.14,scattered clouds,64.8378,-147.7164,Westmark Fairbanks Hotel & Conference Center
458,Ketchikan,US,60.57,light rain,55.3422,-131.6461,Snows Cove Lodge
695,College,US,62.26,scattered clouds,64.8569,-147.8028,Pike's Waterfront Lodge

In [23]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(subset=['Hotel Name'])
clean_hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Rikitea,PF,69.21,clear sky,-23.1203,-134.9692,People ThankYou
9,Tuktoyaktuk,CA,60.80,scattered clouds,69.4541,-133.0374,End of The Road Ltd.
36,Saint-Philippe,RE,67.59,broken clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
40,Mahanoro,MG,67.06,moderate rain,-19.9000,48.8000,BUNGALOW MAHAMANINA
53,Cap-Aux-Meules,CA,62.65,few clouds,47.3821,-61.8597,Auberge Madeli
...,...,...,...,...,...,...,...
696,Ayr,GB,67.98,clear sky,55.4627,-4.6339,Mercure Ayr Hotel
699,Lulea,SE,62.67,clear sky,65.5842,22.1547,Comfort Hotel Arctic
700,Kinsale,IE,63.77,broken clouds,51.7075,-8.5306,Actons Hotel Kinsale
701,Roald,NO,62.91,mist,62.5833,6.1333,Flem Cabins
704,Fort Nelson,CA,69.39,broken clouds,58.8053,-122.7002,The Fort Nelson Hotel

In [24]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [25]:
clean_hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Rikitea,PF,69.21,clear sky,-23.1203,-134.9692,People ThankYou
9,Tuktoyaktuk,CA,60.80,scattered clouds,69.4541,-133.0374,End of The Road Ltd.
36,Saint-Philippe,RE,67.59,broken clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
40,Mahanoro,MG,67.06,moderate rain,-19.9000,48.8000,BUNGALOW MAHAMANINA
53,Cap-Aux-Meules,CA,62.65,few clouds,47.3821,-61.8597,Auberge Madeli
...,...,...,...,...,...,...,...
696,Ayr,GB,67.98,clear sky,55.4627,-4.6339,Mercure Ayr Hotel
699,Lulea,SE,62.67,clear sky,65.5842,22.1547,Comfort Hotel Arctic
700,Kinsale,IE,63.77,broken clouds,51.7075,-8.5306,Actons Hotel Kinsale
701,Roald,NO,62.91,mist,62.5833,6.1333,Flem Cabins
704,Fort Nelson,CA,69.39,broken clouds,58.8053,-122.7002,The Fort Nelson Hotel

In [26]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:

# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [28]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))